<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yangzq.docoder.user.mapper.SysPermissionMapper">

    <select id="selectUserPermissionList" resultType="cn.yangzq.docoder.user.entity.SysPermission">
        SELECT t1.*
            FROM sys_permission t1
        INNER JOIN role_permission t2
        ON t1.id = t2.permission_id
        INNER JOIN sys_role t3
        ON t2.role_id = t3.id
        INNER JOIN user_role t4
        ON t3.id = t4.role_id
        INNER JOIN sys_user t5
        ON t4.user_id = t5.id
        WHERE t5.id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="selectRbac" resultType="string">
        select
            distinct concat(ifnull(su.id,'-1'),'_',ifnull(sr.id,'-1'),'_',ifnull(sp.id,'-1')) as idsStr
        from sys_user su
        left join user_role ur
        on su.id = ur.user_id
        left join sys_role sr
        on ur.role_id = sr.id
        left join role_permission rp
        on sr.id = rp.role_id
        left join sys_permission sp
        on rp.permission_id = sp.id
        <trim prefix="where" prefixOverrides="and|or">
            <if test="mode=='user'">
                and su.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="mode=='role'">
                and sr.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="mode=='permission'">
                and sp.id = #{id,jdbcType=INTEGER}
            </if>
        </trim>
    </select>
</mapper>
